# Q1. Create one variable containing following type of data:

(i) String

In [1]:
s="Subham"
print(type(s))

<class 'str'>

(ii) list

In [2]:
l=[4,5,6,['s','d'],8]
print(type(l))

<class 'list'>

(iii) Float

In [3]:
a=45.45
print(type(a))

<class 'float'>

# Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
# What will be the data type of the above given variable.

(i)var1 = ‘ ‘

In [5]:
var1 = ' '
print(type(var1))

<class 'str'>

ans= String

(ii) var2 = ‘[ DS , ML , Python]’

In [6]:
var2 = '[ DS , ML , Python]'
print(type(var2))

<class 'str'>

ans=String

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

In [8]:
var3 = [ 'DS' , 'ML' , 'Python' ]
print(type(var3))

<class 'list'>

ans= list

# Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

(i)/

Ans=Finds the quotient in float data type

In [13]:
a=5
b=6
print(b/a)

1.2

(ii)%

Ans=It finds the remainder of a divison.

In [12]:
print(b%a)

1

(iii)//

Ans=It gives the quotient in integer data type by neglecting the float values.

In [15]:
print(b//a)

1

(iv)**

Ans=It gives the exponent values.

In [16]:
print(b**a)

7776

# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [21]:
l=[2,'a',{6,7,8},[6,8,9],True,False,4.5,"Subham",90,(3,4,5,6)]
print(f"The length of the list 'l' is {len(l)}")
for i in l:
    print(i,type(i))

The length of the list 'l' is 10
2 <class 'int'>
a <class 'str'>
{8, 6, 7} <class 'set'>
[6, 8, 9] <class 'list'>
True <class 'bool'>
False <class 'bool'>
4.5 <class 'float'>
Subham <class 'str'>
90 <class 'int'>
(3, 4, 5, 6) <class 'tuple'>

# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [2]:
A=input()
B=input()
c=int(A)
d=int(B)
e=0
while(c%d==0):
    e+=1
    c=c//d
    
if(e>0):
    print(f"""{int(A)}is purely divisible by {int(B)}
          The number of times it can be divisible is {e}""")
else:
    print(f"{int(A)} is not divisible by {int(B)}")

 10
 5

10is purely divisible by 5
          The number of times it can be divisible is 1

# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [37]:
c=0
l=[i for i in range(1,26)]
for j in l:
    print(j)
    if(l[j-1]%3==0):
        print(f"{l[j-1]} is divisible by 3")
    else:
        print(f"{l[j-1]} is not divisible by 3")
print(l)

1
1 is not divisible by 3
2
2 is not divisible by 3
3
3 is divisible by 3
4
4 is not divisible by 3
5
5 is not divisible by 3
6
6 is divisible by 3
7
7 is not divisible by 3
8
8 is not divisible by 3
9
9 is divisible by 3
10
10 is not divisible by 3
11
11 is not divisible by 3
12
12 is divisible by 3
13
13 is not divisible by 3
14
14 is not divisible by 3
15
15 is divisible by 3
16
16 is not divisible by 3
17
17 is not divisible by 3
18
18 is divisible by 3
19
19 is not divisible by 3
20
20 is not divisible by 3
21
21 is divisible by 3
22
22 is not divisible by 3
23
23 is not divisible by 3
24
24 is divisible by 3
25
25 is not divisible by 3
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

# Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

Ans=Mutable data type means we can change the value corresponding to index number .eg:->

In [38]:
l=[1,2,3]
l[1]='Subham'
l

[1, 'Subham', 3]

Value of list at index 2 changed to string which shows we can change value from any index of a list data type which tells it is mutable.

Ans=Non Mutable data type means we can not change the value corresponding to index number .eg:->

In [39]:
s='Subham Kumar Das'
s[1]='Samresh'
s

TypeError: 'str' object does not support item assignment

And here it comes the error showing string object doesnot support item assignment which means it can not change value of any index which shows it is immutable.